#tiling-border {
    pointer-events: none;
}

.plaid-workspace-pill {
    spacing: 6px;
    padding: 0 4px;
}

.plaid-workspace-pill-numbers {
    spacing: 2px;
}

.plaid-workspace-pill-number {
    font-weight: bold;
    padding: 0 3px;
    color: #ffffff;
}

.plaid-workspace-pill-number:active {
    color: #3584e4;
}

.plaid-workspace-pill-icon {
    icon-size: 16px;
    icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.plaid-workspace-pill-title {
    max-width: 220px;
    padding: 0 4px;
    color: #ffffff;
    font-size: 12px;
}
